################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AndroidApp/v17/DocumentLayout.json
/.vs/AnvilEngine/FileContentIndex/0b59974d-bb15-49ea-a0fb-84cf2ebf1a26.vsidx
/.vs/AndroidApp/v17/DocumentLayout.backup.json
/.vs/AndroidApp/v17/ipch/AutoPCH/5f4d4226f58ce293/SOURCE.ipch
/.vs/AnvilEngine/v17/.suo
/.vs/AnvilEngine/v17/Browse.VC.db
/.vs/AnvilEngine/v17/DocumentLayout.backup.json
/.vs/AnvilEngine/v17/Solution.VC.db
/.vs/AnvilWorkspace/FileContentIndex/0bd96e38-1f99-460f-93e0-0d00119265c9.vsidx
/.vs/AnvilEngine/v17/DocumentLayout.json
*.vsidx
*.lock
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/f624a1f1b1cfabbd/CONTEXT.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/dbf5687bffdf5d42/RENDERER.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/da4d29f1deee202f/ENTRY.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/aa2839fea07b49e8/WINDOW.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/718e65130df2a70d/APP.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/4343ed6ffafd2aa8/VULKANCONTEXT.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/3126982ac1513676/UMACROS.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/2a7c9deac7222999/WINDOW.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/21c2c2d7bb05b8ea/ENTRY.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/2157d7e2bbbec168/ANVIL.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/1b03ab8c99fa27f7/FORGE.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/1102e177ed0e21f1/VULKANCONTEXT.ipch
/.vs/AnvilWorkspace/v17/Solution.VC.db-wal
/.vs/AnvilWorkspace/v17/Solution.VC.db-shm
/.vs/AnvilWorkspace/v17/Solution.VC.db
/.vs/AnvilWorkspace/v17/Browse.VC.opendb
/.vs/AnvilWorkspace/v17/Browse.VC.db-wal
/.vs/AnvilWorkspace/v17/Browse.VC.db-shm
/.vs/AnvilWorkspace/v17/Browse.VC.db
/.vs/AnvilWorkspace/v17/.suo
/.vscode/settings.json
/.vscode/launch.json
/AnvilEngine/bin/Debug-windows-x86_64/AnvilEngine/AnvilEngine.pdb
/AnvilEngine/bin/Debug-windows-x86_64/AnvilEngine/AnvilEngine.lib
/AnvilEngine/bin/Debug-windows-x86_64/AnvilEngine/AnvilEngine.idb
/AnvilEngine/bin/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.pdb
/AnvilEngine/bin/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.lib
/AnvilEngine/bin/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.idb
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib.command.1.tlog
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib-link.write.1.tlog
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib-link.read.1.tlog
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.write.1.tlog
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.read.1.tlog
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.command.1.tlog
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/AnvilEngine.lastbuildstate
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/Window.obj
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/VulkanContext.obj
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/Renderer.obj
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/Context.obj
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/App.obj
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.vcxproj.FileListAbsolute.txt
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.log
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.lib.recipe
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.Build.CppClean.log
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/Window.obj
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/VulkanContext.obj
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/Renderer.obj
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/Context.obj
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/App.obj
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib.command.1.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib-link.write.1.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib-link.read.1.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.read.1.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.command.1.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.18748.write.1.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/AnvilEngine.lastbuildstate
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.log
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.lib.recipe
/AnvilEngine/AnvilEngine.vcxproj.user
/AnvilEngine/AnvilEngine.vcxproj.filters
/AnvilEngine/AnvilEngine.vcxproj
/Forge/bin/Debug-windows-x86_64/Forge/Forge.pdb
/Forge/bin/Debug-windows-x86_64/Forge/Forge.exe
/Forge/bin/DebugG-windows-x86_64/Forge/Forge.pdb
/Forge/bin/DebugG-windows-x86_64/Forge/Forge.exe
/Forge/bin-int/Debug-windows-x86_64/Forge/vc143.pdb
/Forge/bin-int/Debug-windows-x86_64/Forge/vc143.idb
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/link.write.1.tlog
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/link.read.1.tlog
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/link.command.1.tlog
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/Forge.lastbuildstate
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/CL.write.1.tlog
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/CL.read.1.tlog
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/CL.command.1.tlog
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.obj
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.log
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.ilk
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.exe.recipe
/Forge/bin-int/DebugG-windows-x86_64/Forge/vc143.pdb
/Forge/bin-int/DebugG-windows-x86_64/Forge/vc143.idb
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/link.write.1.tlog
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/link.read.1.tlog
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/link.command.1.tlog
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/Forge.lastbuildstate
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/CL.write.1.tlog
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/CL.read.1.tlog
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/CL.command.1.tlog
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.obj
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.log
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.ilk
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.exe.recipe
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/f0fea7c94912c93f/VULKANUTIL.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/f0fea7c94912c93f
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/e12f551347384ce4/VULKANCONTEXT.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/e12f551347384ce4
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/c34af5cc6c4fc4e2/APP.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/c34af5cc6c4fc4e2
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/b7d4dd0de8a5806c/VULKANUTIL.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/b7d4dd0de8a5806c
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/b216bf4f8e4ff85f/VULKANCONTEXT.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/b216bf4f8e4ff85f
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/b06cba6b47bc61aa/CONTEXT.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/b06cba6b47bc61aa
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/85679d1686786b62/VULKANUTIL.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/85679d1686786b62
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/6df00123a79097e/PROFILE.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/6df00123a79097e
/AnvilEngine/bin/Release-windows-x86_64/AnvilEngine/AnvilEngine.pdb
/AnvilEngine/bin/Release-windows-x86_64/AnvilEngine/AnvilEngine.lib
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/Window.obj
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/VulkanUtil.obj
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/VulkanContext.obj
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/Renderer.obj
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/Context.obj
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/App.obj
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib.command.1.tlog
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib-link.write.1.tlog
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib-link.read.1.tlog
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.read.1.tlog
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.command.1.tlog
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.14092.write.1.tlog
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/AnvilEngine.tlog/AnvilEngine.lastbuildstate
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/AnvilEngine.tlog
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/AnvilEngine.log
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine/AnvilEngine.lib.recipe
/AnvilEngine/bin-int/Release-windows-x86_64/AnvilEngine
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/VulkanUtil.obj
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.write.1.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/VulkanUtil.obj
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/window.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/win32_window.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/win32_time.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/win32_thread.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/win32_monitor.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/win32_module.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/win32_joystick.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/win32_init.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/wgl_context.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/vulkan.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/platform.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/osmesa_context.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/null_window.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/null_monitor.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/null_joystick.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/null_init.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/monitor.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/input.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/init.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/GLFW.tlog/Lib.command.1.tlog
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/GLFW.tlog/Lib-link.write.1.tlog
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/GLFW.tlog/Lib-link.read.1.tlog
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/GLFW.tlog/GLFW.lastbuildstate
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/GLFW.tlog/CL.write.1.tlog
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/GLFW.tlog/CL.read.1.tlog
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/GLFW.tlog/CL.command.1.tlog
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/GLFW.tlog
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/GLFW.log
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/GLFW.lib.recipe
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/egl_context.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW/context.obj
/AnvilEngine/vendor/GLFW/bin-int/Release-windows-x86_64/GLFW
/AnvilEngine/vendor/GLFW/bin/Release-windows-x86_64/GLFW/GLFW.pdb
/AnvilEngine/vendor/GLFW/bin/Release-windows-x86_64/GLFW/GLFW.lib
/AnvilEngine/vendor/GLFW/bin/Release-windows-x86_64/GLFW
/AnvilEngine/cpp.hint
/Forge/bin-int/Release-windows-x86_64/Forge/vc143.pdb
/Forge/bin-int/Release-windows-x86_64/Forge/Forge.tlog/link.write.1.tlog
/Forge/bin-int/Release-windows-x86_64/Forge/Forge.tlog/link.read.1.tlog
/Forge/bin-int/Release-windows-x86_64/Forge/Forge.tlog/link.command.1.tlog
/Forge/bin-int/Release-windows-x86_64/Forge/Forge.tlog/Forge.lastbuildstate
/Forge/bin-int/Release-windows-x86_64/Forge/Forge.tlog/CL.write.1.tlog
/Forge/bin-int/Release-windows-x86_64/Forge/Forge.tlog/CL.read.1.tlog
/Forge/bin-int/Release-windows-x86_64/Forge/Forge.tlog/CL.command.1.tlog
/Forge/bin-int/Release-windows-x86_64/Forge/Forge.tlog
/Forge/bin-int/Release-windows-x86_64/Forge/Forge.obj
/Forge/bin-int/Release-windows-x86_64/Forge/Forge.log
/Forge/bin-int/Release-windows-x86_64/Forge/Forge.exe.recipe
/Forge/bin-int/Release-windows-x86_64/Forge
/Forge/bin/Release-windows-x86_64/Forge/Forge.pdb
/Forge/bin/Release-windows-x86_64/Forge/Forge.exe
/Forge/bin/Release-windows-x86_64/Forge
/.vs/AnvilWorkspace/v17/ipch/AutoPCH
