################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/AndroidApp/v17/DocumentLayout.json
/.vs/AnvilEngine/FileContentIndex/0b59974d-bb15-49ea-a0fb-84cf2ebf1a26.vsidx
/.vs/AndroidApp/v17/DocumentLayout.backup.json
/.vs/AndroidApp/v17/ipch/AutoPCH/5f4d4226f58ce293/SOURCE.ipch
/.vs/AnvilEngine/v17/.suo
/.vs/AnvilEngine/v17/Browse.VC.db
/.vs/AnvilEngine/v17/DocumentLayout.backup.json
/.vs/AnvilEngine/v17/Solution.VC.db
/.vs/AnvilWorkspace/FileContentIndex/0bd96e38-1f99-460f-93e0-0d00119265c9.vsidx
/.vs/AnvilEngine/v17/DocumentLayout.json
*.vsidx
*.lock
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/f624a1f1b1cfabbd/CONTEXT.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/dbf5687bffdf5d42/RENDERER.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/da4d29f1deee202f/ENTRY.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/aa2839fea07b49e8/WINDOW.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/718e65130df2a70d/APP.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/4343ed6ffafd2aa8/VULKANCONTEXT.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/3126982ac1513676/UMACROS.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/2a7c9deac7222999/WINDOW.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/21c2c2d7bb05b8ea/ENTRY.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/2157d7e2bbbec168/ANVIL.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/1b03ab8c99fa27f7/FORGE.ipch
/.vs/AnvilWorkspace/v17/ipch/AutoPCH/1102e177ed0e21f1/VULKANCONTEXT.ipch
/.vs/AnvilWorkspace/v17/Solution.VC.db-wal
/.vs/AnvilWorkspace/v17/Solution.VC.db-shm
/.vs/AnvilWorkspace/v17/Solution.VC.db
/.vs/AnvilWorkspace/v17/Browse.VC.opendb
/.vs/AnvilWorkspace/v17/Browse.VC.db-wal
/.vs/AnvilWorkspace/v17/Browse.VC.db-shm
/.vs/AnvilWorkspace/v17/Browse.VC.db
/.vs/AnvilWorkspace/v17/.suo
/.vscode/settings.json
/.vscode/launch.json
/AnvilEngine/bin/Debug-windows-x86_64/AnvilEngine/AnvilEngine.pdb
/AnvilEngine/bin/Debug-windows-x86_64/AnvilEngine/AnvilEngine.lib
/AnvilEngine/bin/Debug-windows-x86_64/AnvilEngine/AnvilEngine.idb
/AnvilEngine/bin/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.pdb
/AnvilEngine/bin/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.lib
/AnvilEngine/bin/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.idb
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib.command.1.tlog
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib-link.write.1.tlog
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib-link.read.1.tlog
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.write.1.tlog
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.read.1.tlog
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.command.1.tlog
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.tlog/AnvilEngine.lastbuildstate
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/Window.obj
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/VulkanContext.obj
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/Renderer.obj
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/Context.obj
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/App.obj
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.vcxproj.FileListAbsolute.txt
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.log
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.lib.recipe
/AnvilEngine/bin-int/Debug-windows-x86_64/AnvilEngine/AnvilEngine.Build.CppClean.log
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/Window.obj
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/VulkanContext.obj
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/Renderer.obj
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/Context.obj
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/App.obj
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib.command.1.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib-link.write.1.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/Lib-link.read.1.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.read.1.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.command.1.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/CL.18748.write.1.tlog
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.tlog/AnvilEngine.lastbuildstate
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.log
/AnvilEngine/bin-int/DebugG-windows-x86_64/AnvilEngine/AnvilEngine.lib.recipe
/AnvilEngine/AnvilEngine.vcxproj.user
/AnvilEngine/AnvilEngine.vcxproj.filters
/AnvilEngine/AnvilEngine.vcxproj
/Forge/bin/Debug-windows-x86_64/Forge/Forge.pdb
/Forge/bin/Debug-windows-x86_64/Forge/Forge.exe
/Forge/bin/DebugG-windows-x86_64/Forge/Forge.pdb
/Forge/bin/DebugG-windows-x86_64/Forge/Forge.exe
/Forge/bin-int/Debug-windows-x86_64/Forge/vc143.pdb
/Forge/bin-int/Debug-windows-x86_64/Forge/vc143.idb
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/link.write.1.tlog
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/link.read.1.tlog
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/link.command.1.tlog
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/Forge.lastbuildstate
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/CL.write.1.tlog
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/CL.read.1.tlog
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.tlog/CL.command.1.tlog
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.obj
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.log
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.ilk
/Forge/bin-int/Debug-windows-x86_64/Forge/Forge.exe.recipe
/Forge/bin-int/DebugG-windows-x86_64/Forge/vc143.pdb
/Forge/bin-int/DebugG-windows-x86_64/Forge/vc143.idb
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/link.write.1.tlog
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/link.read.1.tlog
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/link.command.1.tlog
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/Forge.lastbuildstate
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/CL.write.1.tlog
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/CL.read.1.tlog
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.tlog/CL.command.1.tlog
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.obj
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.log
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.ilk
/Forge/bin-int/DebugG-windows-x86_64/Forge/Forge.exe.recipe
